* {
    padding: 0;
    margin: 10;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
}

header {
    background-color: white;
    flex-direction: row;
}

#menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
    gap: 16px;
}

#introducao {
    background-color:rgb(147, 202, 147);
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 30px;
    align-items: center;
    justify-content: space-between;
}

#introducao img {
    width: 500px;
    height: 250px;
    margin-bottom: 20px;
}

#cards {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background-color: white;
    padding: 20px;
    width: 30%;
    border-radius: 20px;
    text-align: center;
}

.card img {
    width: 100%;
    border-radius: 20px;
    height: 300px;
    object-fit: cover;
}

.card p {
    margin-top: 10px;
    font-weight: bold;
}
